.dark-grey-background{
    -fx-background-color: #202020;
}

.dark-background{
    -fx-background-color: #3a3a3a;
}

.dark-background-2{
    -fx-background-color: #000000;
}

.red-background{
    -fx-background-color: #ff0000;
}

.transparent-background{
    -fx-background-color: rgba(0,0,0,0);
}

.radius{
    -fx-background-radius: 100px;
}

.text-field{
    -fx-font-family: "Quicksand";
    -fx-text-fill: white;
}

.button-background:hover{
    -fx-background-color: #911d97;
}

.button-background-request:hover{
    -fx-background-color: #6468DE;
}

.table-view{
    -fx-background-color: transparent;
    -fx-background-radius: 30;
}

.table-view:focused{
    -fx-background-color: rgba(0, 0, 0, 0);
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #303030 100%);
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
    -fx-effect: dropshadow(two-pass-box, rgb(145, 29, 159),15,0.0,0.1,3);
    -fx-background-radius: 30;
}

.table-view .filler{
    -fx-background-color: rgba(0, 0, 0, 0);
}

.table-view .scroll-bar:vertical > .increment-button,
.table-view .scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.25em 0.5em  ;
    -fx-background-color: #202020;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:#3A3A3A;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.choice-box > .label { -fx-text-fill: white; }

.choice-box .context-menu { -fx-background-color: #202020; }

.choice-box .menu-item:focused { -fx-background-color: #303030; }

.choice-box .menu-item > .label { -fx-text-fill: white; }

.choice-box .menu-item:focused > .label { -fx-text-fill: white; }

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

/*aici*/
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #303030;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #911d9f;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #2f2f2f;

}

.tab-pane .tab:selected
{
    -fx-background-color: #343434;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #656464;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;

}

.tab:selected{
    -fx-border-color: #911D9F;
    -fx-background-color: #000000;
}

.text-area {
    -fx-font-family: Tahoma;
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
    -fx-display-caret:true;
    -fx-border-color: #911D9F;
}

.text-area .content {
    -fx-background-color: #000000;
}




.date-chooser {
    -fx-background-color:linear-gradient(#979df9,#DDDDDD);
}

.data-picker {
    -fx-border-color:#911D9F ;

}

.date-picker > .text-field:focused {
    -fx-background-color: #282828;
    -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
    -fx-background-radius: 2 0 0 2, 1 0 0 1, 0;
    -fx-text-fill: white;
}


.date-picker .text-field {
    -fx-control-inner-background: #282828;
    -fx-text-fill: white;
}

.date-picker .arrow-button{
    -fx-background-radius:0px ;
    -fx-background-color: #232323;
}

.date-picker .arrow-button .arrow{
    -fx-background-radius:0px ;
    -fx-background-color: white;
}

.date-picker .arrow-button:hover .arrow{
    -fx-background-radius:0px ;
    -fx-background-color: #911D9F;
}

.date-picker .button {
    -fx-background-color: transparent;
    -fx-border-color: rgba(0, 0, 0, 0);
    -fx-pref-height: 35px;
    -fx-pref-width: 35px;
}

.date-picker .button:hover {
    -fx-border-color:transparent;
    -fx-pref-height: 35px;
    -fx-pref-width: 35px;
}

.date-picker .button .arrow:pressed {
    -fx-border-color:transparent;
    -fx-pref-height: 35px;
    -fx-pref-width: 35px;
}

.date-picker .cell {
    -fx-background-color: #303030;
    -fx-pref-width:20px ;
    -fx-pref-height:25px ;
    -fx-text-fill: white;
}

.date-picker .cell:hover {
    -fx-background-color: #911D9F;
    -fx-pref-width:20px ;
    -fx-pref-height:25px ;
}

.date-picker .cell:focused {
    -fx-background-color:#911D9F;
    -fx-pref-width:20px ;
    -fx-pref-height:25px ;
}

.date-picker-popup  {
    -fx-border-color: #1783CC;
    -fx-background-color: black;
}

.date-picker-popup > .month-year-pane {
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em;
    -fx-background-color: #232323;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
    -fx-text-fill: white;
    -fx-text-origin: white;
    -fx-highlight-text-fill: white;
}

.data-picker .month-year-pane. month{
    -fx-text-fill: white;
}

.day-name-cell.date-cell, .week-number-cell.date-cell {
    -fx-text-fill: #911D9F;
    -fx-font-weight: bold;
}

.combo-box .list-cell
{
    -fx-background: #964444;
    -fx-background-color: rgba(212, 35, 35, 0);
    -fx-text-fill: white;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view
{
    -fx-background-color: #000000, #303030;
    -fx-background-insets: 0, 1;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #911D9F;
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-radius: 30;
    -fx-background-color: #252525;
}